
<h1 *ngIf="!pacientes"><em>Cargando...</em></h1>

<h3>Paciente <span *ngIf="pacientes">{{ pacientes.nombre }} {{ pacientes.apellido }}</span></h3>
<p><span *ngIf="pacientes">{{ pacientes.sexo }} | {{ pacientes.fechaNacimiento }} | {{ pacientes.telefono }}</span></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="resultados">
    <thead>
        <tr>
            <th>ID</th>
            <th>Centro Medico</th>
            <th>Doctor</th>
            <th>Fecha de Resultados</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resultado of resultados">
            <td>{{ resultado.id }}</td>
            <td>{{ resultado.centroMedico }}</td>
            <td>{{ resultado.doctor }}</td>
            <td>{{ resultado.fechaResultado }}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="VerModal(ResultadoID = resultado.id)">Ver</button> |
                <!--<button type="button" class="btn btn-primary" (click)="Descargar(ResultadoID = resultado.id)">Descargar</button> |
                <button type="button" class="btn btn-primary" (click)="Imprimir(ResultadoID = resultado.id)">Imprimir</button>--> 

            </td>
        </tr>
    </tbody>
</table>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="ModalAnalitica">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div style="padding:15px;">
                <h4>Analitica del Resultado ID <span *ngIf="resultado">#{{ resultado.id }} | {{ resultado.fechaResultado }}</span></h4>
                <p *ngIf="resultado"> {{ resultado.centroMedico }} - Doctor/a  {{ resultado.doctor }}</p>
            </div>


            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="analiticas">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Rango</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let analitica of analiticas">
                        <td>{{ analitica.tipo }}</td>
                        <td>{{ analitica.valor }}</td>
                        <td>{{ analitica.rango }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



