<h1 id="tableLabel">Paciente <span *ngIf="pacientes">{{ pacientes.nombre }} {{ pacientes.apellido }}</span></h1>

<!--<p>This component demonstrates fetching data from the server.</p>-->

<p *ngIf="!pacientes"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pacientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>IdUser</th>
            <th>Telefono</th>
            <th>Sexo</th>
            <th>Fecha de Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ pacientes.id }}</td>
            <td>{{ pacientes.pacienteID }}</td>
            <td>{{ pacientes.telefono }}</td>
            <td>{{ pacientes.sexo }}</td>
            <td>{{ pacientes.fechaNacimiento }}</td>
        </tr>
    </tbody>
</table>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="resultados">
    <thead>
        <tr>
            <th>ID</th>
            <th>PacienteID</th>
            <th>Centro Medico</th>
            <th>Doctor</th>
            <th>Fecha de Resultados</th>
        </tr>
    </thead>
    <tbody>
        centroMedico
        <tr *ngFor="let resultado of resultados">
            <td>{{ resultado.id }}</td>
            <td>{{ resultado.pacienteID }}</td>
            <td>{{ resultado.centroMedico }}</td>
            <td>{{ resultado.doctor }}</td>
            <td>{{ resultado.fechaResultado }}</td>
        </tr>
    </tbody>
</table>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="analiticas">
    <thead>
        <tr>
            <th>ID</th>
            <th>ResultadoID</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Rango</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let analitica of analiticas">
            <td>{{ analitica.id }}</td>
            <td>{{ analitica.resultadoID }}</td>
            <td>{{ analitica.tipo }}</td>
            <td>{{ analitica.valor }}</td>
            <td>{{ analitica.rango }}</td>
        </tr>
    </tbody>
</table>