<div class="row">
    <div class="col-lg-6 col-12"><img src="assets/images/telemedicine.png" style="width:100%;"/></div>
    <div class="col-lg-6 col-12"> <h1>Trabajando para ti a tu lado!</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus blandit est, ac aliquam eros iaculis nec.
        Proin condimentum sed leo sit amet euismod. Sed luctus mi sit amet nisi consequat, eu dapibus mauris malesuada.
        Mauris accumsan elit vitae risus molestie, a aliquam velit mattis. Nulla imperdiet ex et enim pharetra condimentum.
        Nam tempor lectus ipsum, vitae aliquam ipsum accumsan sed. Nunc id arcu nisl. Vestibulum fringilla nisi neque, eu rhoncus
        arcu suscipit non. Aliquam orci nisi, efficitur eget nibh eget, sodales aliquet urna. Vestibulum sagittis fermentum felis,
        non faucibus libero porta quis. Nullam auctor, neque at porttitor feugiat, risus urna venenatis nulla, in varius augue ipsum
        vel orci. Aenean porttitor elementum velit, at blandit neque posuere ut. Etiam quis purus augue. Suspendisse potenti.
        Ut lobortis consectetur nibh, eget hendrerit nibh.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-12">
        <h1>Tu salud es nuestra responsabilidad</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus blandit est, ac aliquam eros iaculis nec.
            Proin condimentum sed leo sit amet euismod. Sed luctus mi sit amet nisi consequat, eu dapibus mauris malesuada.
            Mauris accumsan elit vitae risus molestie, a aliquam velit mattis. Nulla imperdiet ex et enim pharetra condimentum.
            Nam tempor lectus ipsum, vitae aliquam ipsum accumsan sed. Nunc id arcu nisl. Vestibulum fringilla nisi neque, eu rhoncus
            arcu suscipit non. Aliquam orci nisi, efficitur eget nibh eget, sodales aliquet urna. Vestibulum sagittis fermentum felis,
            non faucibus libero porta quis. Nullam auctor, neque at porttitor feugiat, risus urna venenatis nulla, in varius augue ipsum
            vel orci. Aenean porttitor elementum velit, at blandit neque posuere ut. Etiam quis purus augue. Suspendisse potenti.
            Ut lobortis consectetur nibh, eget hendrerit nibh.
        </p>
    </div>
    <div class="col-lg-6 col-12"><img src="assets/images/science.png" style="width:100%;" /></div>

</div>